body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

#cartes-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.carte {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.carte img {
    width: 100%;
    border-radius: 5px;
}

